.pagination {
    text-align: center;
}
.pagination-pages {
    cursor:pointer;
    font-size: 1.2rem;
    width: 32px;
    text-align: center;
    display: inline-block;
}
.pagination-pages:hover {
    color:blue;
}
.currentPage {
    font-size: 1.3rem;
    background: peachpuff;
}
.inputPageNum{
    width: 22px;
    margin-left:3px;
}
button {
    font-weight: 700;
}