<div class="pagination">
  <div style="width:64px; display: inline-block;">
    <button *ngIf="currentPage > 1" class="mdl-button mdl-js-button mdl-button--primary" 
          (click)="toPrevPage()"> << </button>
  </div>
    <span *ngFor="let link of pageLinks | slice:0:sliceTo, let i = index; ">
      <span class="pagination-pages" 
            [class.currentPage]="currentPageClassStatus[i]" 
            *ngIf="i > sliceTo-9"
            (click)="gotoPage(i)"> {{i+1}} </span>
    </span>
    <input (keyup)="onInputPageNumber($event)" *ngIf="numberOfPages > 8" class="inputPageNum" type="text" id="pageNumInput" pattern="-?[0-9]*(\.[0-9]+)?" placeholder="{{numberOfPages}}">
  
  <button *ngIf="currentPage < numberOfPages" class="mdl-button mdl-js-button mdl-button--primary"
          (click)="toNextPage()"> >> </button>
</div>
