
.list-wrapper {
    position:fixed;
    top: 0;
	right:0;
	background-color: lightyellow;
	height:100%;
	z-index:97;
	width:280px;
    overflow-y: auto;
}
.empty {
    height: 50px;
    width: 100%;
}
.close {
  position: absolute;
  top: 44px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: darksalmon;
  cursor: pointer;
  z-index: 5;
}
.close:hover {
  color: darkred;
}

.add-new-playlist-wrapper {
    margin:16px 0 0 16px;
}

.mdl-textfield__input {
    width: 175px !important;
    display: inline-block;
    outline: none;
}

.yt-playlist:hover {
    cursor: pointer;
    background: lightsalmon;
}