<div *ngIf="isShowList" class="list-wrapper mdl-shadow--2dp">
  <div class="empty"> </div>
  <span (click)="closeList()" class="close"> &times; </span>
  <div class="add-new-playlist-wrapper">
    <input *ngIf="!isAddNewPlLoading" [(ngModel)]="newPlaylist.title" (keyup)="onKeyAddPlInput($event)" class="mdl-textfield__input" type="text" placeholder="Add new youtube playlist" />
    <div *ngIf="isAddNewPlLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <button 
      *ngIf="!isAddNewPlLoading"
      (click)="createNewPlaylist()"
      class="new-playlist-btn mdl-button mdl-js-button mdl-js-ripple-effect">
      Add
    </button>
  </div>
  <ul class="playlists mdl-list">
    <li class="yt-playlist mdl-list__item"
        (click)="addVideosToPlaylist(playlist)"
        *ngFor="let playlist of playlists.items, let i = index">
      <span class="mdl-list__item-primary-content">
        {{i+1}}. {{playlist.snippet.title}}
      </span>
    </li>
  </ul>
  <button *ngIf="!isLoading && global.ytPlaylists.playlists.items.length < global.ytPlaylists.playlists.pageInfo.totalResults" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="loadMorePlaylists()"> Load more </button>
  
  <div *ngIf="isLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
</div>