<img class="center-block" src="static/img/logo_header.jpg">
<h3 class="slogan pos_center"> Master your HSK vocabulary </h3>

<div id="choose_level" class="pos_center">
    <h4> Choose your HSK level:</h4>
    <hskLevels-chbx> </hskLevels-chbx>
    <button 
        *ngIf="0"
        class="mdl-button mdl-js-button mdl-button--primary"> Or Check it Out </button>  
    <br />
</div>

<div class="pos_center"> 
  <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" routerLink="/vocabulary"> Vocabulary </button>
  <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled> Grammar </button>
  <br /> 
</div>


