.wordlists {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
.title {
    font-size: 1.2rem;
}
.wordlist {
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
.wordlist:hover {
    background: #FFFFE0;
}
.link {
    cursor: pointer;
    color: blue;
}
.link:hover {
    color: darkblue;
}