<div class="wordlists pos_center" *ngIf="global.words.words">
    <span class="title"> You can filter words by topics: </span>

    <span *ngFor="let wl of global.wordlists; let i = index">
        <span (click)="getWords(wl)" class="wordlist" *ngIf="( i < showNumber ) || isShowAll"> {{wl.name}}, </span>
    </span>

    <span class="link" (click)="showAllWordlists()" *ngIf="!isShowAll"> show more... </span>
    <br /> <span class="link" (click)="hideWordlists()" *ngIf="isShowAll"> hide... </span>
</div>