 <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
          
          <!--Menu-->
          <div id="menu-header-left">
            <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
            </button>
            <div class="mdl-layout-title"> HSK.TIPS </div>
          
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                for="menu-header-left">
              <li routerLink="/" class="mdl-menu__item"> Home page</li>
              <li (click)="goToOurYoutubePlaylists()" class="mdl-menu__item mdl-menu__item--full-bleed-divider">HSK YouTube playlists</li>
              <li (click)="writeUs()" class="mdl-menu__item">gWrite us</li>
            </ul>
          </div>
         
          
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <gOauth2-btn *ngIf=needGAuth> </gOauth2-btn>
            
            <div *ngIf="!needGAuth" id="user-menu-header">
              <span id="user-email-header" class="">
                {{global.userinfo.userinfo.email}}
              </span>

              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
              </button>
              <!--Menu-->
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                  for="user-menu-header">
                <li *ngIf="global.ytPlaylists" 
                  (click)="showPlaylistsList()" 
                  class="mdl-menu__item"> My Playlists</li>
                <li (click)="goToYoutubePlaylists()" 
                    class="mdl-menu__item mdl-menu__item--full-bleed-divider">My Playlists: YT</li>
                <li class="mdl-menu__item" (click)="googleLogOut()">Log Out</li>
                <li class="mdl-menu__item" (click)="googleLogOut(true)">Log Out from Google</li>
                
              </ul>
            </div>
          
          </nav>
      </div>
 </header>