header, .mdl-layout__header, .mdl-navigation pos_right, .mdl-layout__header-row, .mdl-layout--fixed-header {
    height: 44px !important;
    min-height: 44px;
    display: flex !important;
    z-index: 98;
    padding: 0 !important;
}

header { 
    position: fixed;
    top:0;
}
.mdl-navigation__link {
    cursor: pointer;
}

.mdl-layout-title {
    display: inline-block !important;
    vertical-align: sub !important;
    cursor: pointer;
}

#user-menu-header {
    cursor: pointer;
}