.popup {
  display: inline;
  text-align: center;
  max-width: 300px;
  min-width: 150px;
  margin: 10px auto;
  padding: 20px 25px;
  background: #F44336;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 333;
}

.popup .close {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.popup .close:hover {
  color: blue;
}
.popup .content {
  color: white;
  max-height: 30%;
  overflow: auto;
}