<div class="popup" *ngIf="opt.isShow">
    <span class="close" (click)="opt.isShow = false"> &times; </span>
    <span class="content">
        {{opt.msg}}
    </span>
    <br />
    <gOauth2-btn *ngIf="opt.gauthBtn"> </gOauth2-btn>
    <getYtPlst-btn *ngIf="opt.ytPlstBtn"> </getYtPlst-btn>
</div>