<div>
        <button [style.left]="btnPosLeft" 
                [style.top]="btnPosTop" 
                (window:resize)="setDragBtnPosition($event)" 
                class="draggable mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
                        <i class="material-icons">add</i>
        </button>
        <span class="dummy"></span>
</div>