@import './reset.css';
body {
    background: #F7EFE1;
}

header, .mdl-layout__header, .mdl-navigation pos_right, .mdl-layout__header-row, .mdl-layout--fixed-header {
    height: 44px !important;
    min-height: 44px !important;
    display: flex !important;    
}


h4 {
	font-size: 20px;
    padding: 10px 0;
}

.pos_center {
    text-align: center;
}

.pos_center button {
    margin: 10px;
}

.pos_right {
    text-align: right;
    width: 100%; 
}

.link-on-red {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.link-on-red:hover {
    color: #FEFFEC;
}