<div id="progressbar" *ngIf="isShowProgressBar">
  
   <div class="log"> 
      <ul> 
        <li *ngFor="let item of global.addItemsToPlaylistLog; let i = index"> {{i+1}}. {{item.video}} ~~~~~~> {{item.status}} </li>
      </ul>
  </div>

    <div class="progressbar-content">
      <div class="text-wrapper"> 
        <span class="progress-text"> {{progressPersent}} 
          <a class="link-on-red" *ngIf="global.progressBar.finished" href="{{global.lastYtPlaylistLink}}" target="blank"> Click me to watch this playlist </a>
        </span>
        <span class="progress-numbers" *ngIf="!global.progressBar.finished" > ({{progress}}/{{total}}) </span>
      </div>
      <div [style.width]="progressPersent" class="progress-persent" ></div>

      <div class="buttons"> 
        <button *ngIf="!global.progressBar.finished"
            (click)="stop()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Stop
        </button>
        <button *ngIf="global.progressBar.finished"
            (click)="ok()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Ok
        </button>
      </div>
    </div>
</div>

