#progressbar {
    width: 100%;
    min-height:100%;
    background-color: rgba(237,227,211,0.9);
    z-index: 99;
    text-align: center;
    position: fixed;
    overflow: hidden;
    top:0px;
}

#progressbar .progressbar-content{
    background: lightyellow;
    width:100%;
    height: 2rem;
    box-shadow: 0px 0px 5px #A7A7A7;
    position: fixed;
    bottom: 70px;
}
.progressbar-content button {
    bottom: -35px;
    z-index: 999;
}

.text-wrapper {
    position: fixed;
    text-align: center;
    bottom: 70px;
    width: 100%;

}
.progress-persent {
    height: 2rem;
    background: #F44336;
    position: fixed;
    bottom: 70px;
    z-index: -12;
}

.progress-text {
    font-size: 1.7rem;
}

.progress-text a {
    vertical-align: top;
    margin-left: 20px;
    font-size: 1.2rem;
}

.buttons {
    text-align: right;
    margin-right: 20px;
}

.log {
    position: absolute;
    height: 100%;
    overflow: auto;
    margin-left: 20px;
    text-align: left;
    z-index: 98;
}