/*search and selection*/
.search {
    width: 50%;
    display: inline-block;
    min-width: 170px;
}
.search-textfield {
    width: 80% !important;
}
.search-textfield input {
    margin-left:36px;
}
.selection {
    width: 50%;
    display: inline-block;
    text-align: right;
    float: right;
    padding-top: 10px;
}
.selection span {
    margin-right: 16px;
}
.selected-number {
    display: block;
}
.select-all {
    color: red;
    cursor: pointer;
}
.selec-all:hover {
    color: black;
}
/*endof search ans selection*/

.z-card-wrapper {
    margin-top:10px;
}

.z-card {
    max-width: 800px;
    min-width: 140px;
    margin: 0 auto;
}

.z-card .mdl-badge {
    margin-left: 16px;
}
.z-num {
    font-size: .7rem;
    height: 20px;
    width: 40px;
}

.z {
    font-size: 1.7rem !important;
    letter-spacing:4px;
    color: darkblue !important;
}
.z-p {
    margin-left: 0.3rem;
    font-size: 1.3rem !important;
}
.z-mean {
    font-size: 1.2rem !important;
    color: dimgray;
}
.ex {
    width: 100%;
    letter-spacing: 4px;
    line-height: 1.3;
    font-size: 1.7rem;
    cursor: pointer;
}
.ex-p {
    line-height: 1.3;
    width: 100%;
    font-size: 1.3rem !important;
    margin-top: 7px;
    cursor: pointer;
}
.ex-mean {
    width: 100%;
    font-size: 1.3rem !important;
    cursor: pointer;
    margin-bottom: 15px;
}
.mdl-card {
    width: 100%;
}
.word-checkbox{
    float:right;
}
.content-table-cell{
    width: 100%;
}
.chekbox-table-cell {
    width: 30px;
    height: 30px;
}
.pointer {
    cursor: pointer;
}
.pointer:hover {
    color: darkblue;
}
.wordlist table { 
 text-align: left;
}
.wordlist th {
    padding: 16px;
    background: linen;
}
.wordlist td {
    padding: 3px 16px 5px 16px;
}
.wordlist td.pointer {
    height: 63px;
    vertical-align: bottom;
}
.wordlist tr.table-ex:hover {
    background: lightyellow;
}
.wordlist th, .wordlist td {
    border-bottom: 1px solid #ddd;
}
/*end of table*/

.loading-container {
    width: 100%;
    text-align: center;
}

.pagination-addToPl-wrapper {
    max-width: 800px;
    margin: 0 auto;
    min-width: 140px;
}
.pag-addTopl{
    width: 100%;
}
.pag-addTopl .left {
    width: 10%;
}
.pag-addTopl .right {
    width: 10%;
    text-align: right;
    padding-right: 6px;
}

.mdl-badge {
    cursor: pointer;
    text-align: right;
}