

<div class="pos_center">
    <h4 class="pos_center"> Create your custom chinese HSK vocabulary youtube playlists. </h4>
</div>

<div class="pos_center"> 
    <hskLevels-chbx
        (eHskLevelChanged)="hskLevelChanged($event)"> </hskLevels-chbx>
</div>


<wordlists (eWordlistChanged)="search.clearSearchWordInputValue()"></wordlists>

<div class="z-card search-toolbar">
        <div action="#" class="search">
            <div class="search-textfield mdl-textfield mdl-js-textfield">
                <input [(ngModel)] ="search.searchWordInputValue" (keyup)="search.onKeySearchWordInput($event)" class="mdl-textfield__input" type="text" placeholder="Search word" id="search">
                <label (click)="search.searchForWord()" class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
            </div>            
        </div>
        
        <div class="selection">
            <span class="selected-number"> Selected {{global.selectedExamples.wordsCounter}} words </span> 
            <span class="select-all" *ngIf="select.isSelectAll" (click)="select.selectAll(true)"> Select all </span>
            <span class="select-all" *ngIf="!select.isSelectAll" (click)="select.selectAll(0)"> Select none </span>
        </div>
        
        <drag-btn [style.visibility]="isShowDragBtn()"
                  (eClick)="playlists.getPlaylists()"> </drag-btn>
</div>

<div class="pagination-addToPl-wrapper">
    <div class="z-card">
        <pagination-app [currentPage]='pagination.currentPage' 
                            [numberOfPages]='pagination.numberOfPages'
                            [pageLinks]='pagination.pageLinks'
                            (eCurrentPage)="pagination.newCurrentPage($event)"
                            (eReqPageContent)="pagination.reqPageContent($event)"
                            *ngIf="global.words && global.words.total > 0"></pagination-app>
        
    </div>
</div>

<progress-bar [isShowProgressBar]="global.progressBar.isShow"
              [total]="global.selectedExamples.exCounter"
              [progress]="global.progressBar.progress"
              [progressPersent]="global.progressBar.progressPersent"
              (eStop)="playlists.onStopAddVideoToPlaylist($event)"> </progress-bar>


<div class="loading-container">
    <div *ngIf="global.isLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
</div>

    
    
<div class="wordlist" *ngIf="global.words.words">
    
    <div class="z-card" *ngIf="global.currentWordlist"> 
        <span (click)="clearCurrentWordlist()" class="mdl-badge" data-badge="x">{{global.currentWordlist}}</span>
    </div>

    <div class="z-card-wrapper" *ngFor="let word of global.words.words, let i = index">
        <div class="z-card mdl-shadow--2dp">
            <span style="text-align:right" 
                  (click)=editWord(word);
                  *ngIf="global.userinfo && global.userinfo.userinfo && global.userinfo.userinfo.roles && (global.userinfo.userinfo.roles[0]=='sadmin')"> Edit </span>
            <table class="">
                <tr>
                    <th class="content-table-cell"> 
                        <span class="z"> {{word.s}}</span> 
                        <span class="z-p"> {{word.p1}} </span>
                        <br />
                        <span class="z-mean"> {{word.means}}</span> 
                    </th>
                    <th class="chekbox-table-cell"> 
                        <label *ngIf="(word.ex[0] && word.ex[0].ytid) 
                                      || (word.ex[1] && word.ex[1].ytid) 
                                      || (word.ex[2] && word.ex[2].ytid)" 
                                [class.is-checked]="word.checked" 
                                class="word-checkbox mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" 
                                for="word-checkbox-{{i}}">
                            <input type="checkbox" 
                                   id="word-checkbox-{{i}}" 
                                   class="mdl-checkbox__input" 
                                   (change)='select.selectWord(word, $event)'
                                   [(ngModel)]="word.checked"
                                   [disabled]="vars.isNeedGauth"/>
                        </label>
                    </th>
                </tr>
                <tr class="table-ex" *ngFor="let ex of word.ex; let j = index">
                    <td class="content-table-cell pointer" (click)="showExMeaning(i, j)">
                        <div *ngIf="!global.words.words[i].ex[j].isShowMean">
                            <div class="ex">{{ex.txt_s}}</div>
                            <div class="ex-p mdl-list__item-sub-title">{{ex.p1}}</div>
                        </div>
                        <div *ngIf="global.words.words[i].ex[j].isShowMean">
                            <div class="ex-mean mdl-list__item-sub-title">{{ex.tr.txt}}</div>
                        </div>
                    </td>
                    <td class="chekbox-table-cell">
                        <label *ngIf="ex.ytid && word.ex.length > 1" 
                                [class.is-checked]="ex.checked" 
                                class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" 
                                for="ex-checkbox-{{i}}-{{j}}">
                            
                            <input type="checkbox" 
                                   id="ex-checkbox-{{i}}-{{j}}" 
                                   class="mdl-checkbox__input" 
                                   [(ngModel)]="ex.checked"
                                   (change)='select.selectExample(word, ex, $event)'
                                   [disabled]="vars.isNeedGauth"/>
                                   
                        </label>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    
    <div class="loading-container">
        <div *ngIf="global.isLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>

    <div class="pagination-addToPl-wrapper">
        <table class="pag-addTopl">
            <tr>
                <td class="left"> </td>
                <td>
                    <pagination-app [currentPage]='pagination.currentPage' 
                                    [numberOfPages]='pagination.numberOfPages'
                                    [pageLinks]='pagination.pageLinks'
                                    (eCurrentPage)="pagination.newCurrentPage($event)"
                                    (eReqPageContent)="pagination.reqPageContent($event)"
                                    *ngIf="global.words && global.words.total > 0"></pagination-app>
                </td>
                <td class="right">
                    <button (click)="playlists.getPlaylists()" 
                            *ngIf="global.selectedWordsCounter > 0 && !global.isShowYtPlaylistsList" 
                            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
                        <i class="material-icons">add</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>

<popup-app [opt]="popup.opt"> </popup-app>