<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="/static/css/styles.css">
  
  <script src="/static/js/draggabilly.pkgd.min.js"></script>
    
  <!-- Material design light -->
  <link rel="stylesheet" href="/static/css/mdl/material.min.css">
  <script src="/static/js/material.min.js"></script>
  <link rel="stylesheet" href="/static/fonts/icons.css">
  <link rel="stylesheet" href="/static/css/mdl/material.red-indigo.min.css">

  

  <!-- inject:css -->
  <!-- endinject -->
</head>
<style> 
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

</style>
<body>

  <root-app>
      <div class="loading-container" style="text-align: center; margin-top: 40px;">
        <span class="animate-flicker" style="position: absolute;top: 80px;margin-left: 26px; font-size:3rem; color:red"> 等 </span>
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="width: 100px; height:100px;"></div>
      </div>
    </root-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
